.rw-date-period {
  max-width: 280px;

  &-first {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-last {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0;
  }

  &-separator {
    font-size: 12px;
    background-color: #eceeef;
    border-top-color: rgba(0, 0, 0, 0.15);
    border-right-color: #aaa;
    border-left-color: #aaa;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 1px;
    margin: 0;
    background-clip: padding-box;
  }
}

.has-danger {
  .rw-date-period-separator {
    border-color: $brand-danger;
  }
}
