extends header

block content
  h1= title
  p Welcome to #{title}
  
  div(class="root")
      div(class="img")
        img(src="images/1.jpg", alt="")
        img(src="images/2.jpg", alt="")
      
  p X: 
    span(id="x_result") 0
  
  p Y: 
    span(id="y_result") 0

  p The overflow property specifies what to do if the content of an element exceeds the size of the element's box.
    
  p overflow:scroll
  div(class="scroll")
    p You can use the overflow property when you want to have better control of the layout. The default value is visible.
    
  p overflow:hidden
  div(class="hidden")
    p You can use the overflow property when you want to have better control of the layout. The default value is visible.


  include ./footer.pug
