body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1.h1Header {
  border-bottom: 1px solid black;
  text-align: center;
}

.rootApp {
  text-align: center;
}

.Links {
  text-align: left;
}

#footer {
  border-top: 1px solid black;
  text-align: center;
}
